<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">List of Creative Team</h4>
                </div>
                <div class="card-body">
                  <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                  </div>
                  <div class="material-datatables">
                    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Role</th>
                          <th>LinkeDin ID</th>
                          <th>Facebook ID</th>
                          <th>Github ID</th>
                           <th>Photo</th>
                          <th class="disabled-sorting text-right">Actions</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                        <th>Name</th>
                          <th>Role</th>
                          <th>LinkeDin ID</th>
                          <th>Facebook ID</th>
                          <th>Github ID</th>
                          <th>Photo</th>
                          <th class="text-right">Actions</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        {{#each creativeteam}}
                        {{#dataValues}}
                        <tr>
                          <td>{{cmember_name}}</td>
                          <td>{{role}}</td>
                          
                          <td><a href={{linkedin_link}} target='_blank'>{{cmember_name}}</a></td>
                          <td><a href={{fb_link}} target='_blank'>{{cmember_name}}</a></td>
                          <td><a href={{github_link}} target='_blank'>{{cmember_name}}</a></td>
                          <td><img src="/uploads/{{picture}}" class="rounded-circle" width="50"></td>
                          <td class="text-right">
                            <a href="/admin/edit-creative-team/{{id}}" class="btn btn-link btn-info btn-just-icon like"><i class="material-icons">edit</i></a>
                            <a href="/admin/delete-creative-team/{{id}}" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>
                          </td>
                        </tr>
                        {{/dataValues}}
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- end content-->
              </div>
              <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
          </div>
          <!-- end row -->
        </div>
      </div>