<div class="content">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">edit</i>
                            </div>
                            <h4 class="card-title">Edit NavItem4</h4>
                        </div>

                        <div class="card-body">
                            {{>msg}}
                        </div>
                        <div class="card-body ">
                            {{#each navitem4}}
                            {{#dataValues}}
                            <form class="form-horizontal" method="POST" action="/admin/edit-navitem4">
                                <div class="row">
                                    <label class="col-md-3 col-form-label">Title</label>
                                    <div class="col-md-9">
                                        <div class="form-group has-default">
                                            <input type="text" class="form-control" name="title" value="{{title}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-3 col-form-label">Subtitle</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="subtitle"
                                                value="{{subtitle}}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-3 col-form-label">Details</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <textarea class="form-control" name="details"
                                                maxlength="number">{{details}}</textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-3 col-form-label">Date_1</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control datepicker" name="date1" value="{{date1}}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-3 col-form-label">Date1_Details</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <textarea class="form-control" name="date1_details"
                                                maxlength="number">{{date1_details}}</textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-3 col-form-label">Date_2</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control datepicker" name="date2" value="{{date2}}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-3 col-form-label">Date2_Details</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <textarea class="form-control" name="date2_details"
                                                maxlength="number">{{date2_details}}</textarea>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <label class="col-md-3 col-form-label">Date_3</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control datepicker" name="date3" value="{{date3}}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-3 col-form-label">Date3_Details</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <textarea class="form-control" name="date3_details"
                                                maxlength="number">{{date3_details}}</textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-3 col-form-label">Date_4</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control datepicker" name="date4" value="{{date4}}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-3 col-form-label">Date4_Details</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <textarea class="form-control" name="date4_details"
                                                maxlength="number">{{date4_details}}</textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-3 col-form-label">Date_5</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control datepicker" name="date5" value="{{date5}}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-3 col-form-label">Date5_Details</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <textarea class="form-control" name="date5_details"
                                                maxlength="number">{{date5_details}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-3 col-form-label">Date_6</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control datepicker" name="date6" value="{{date6}}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-3 col-form-label">Date6_Details</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <textarea class="form-control" name="date6_details"
                                                maxlength="number">{{date6_details}}</textarea>
                                        </div>
                                    </div>
                                </div>


                        </div>


                        <div class="card-footer justify-content-center">
                            <div class="row">

                                <div class="col-md-9">
                                    <button type="submit" class="btn btn-fill btn-rose">Lets
                                        Go</button>
                                </div>


                            </div>
                        </div>
                        </form>
                        {{/dataValues}}
                        {{/each}}
                    </div>

                </div>
            </div>
        </div>

        
    </div>

</div>
