<div class="content">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon card-header-rose">
                            <div class="card-icon">
                                <i class="material-icons">perm_identity</i>
                            </div>
                            <h4 class="card-title">Edit NavBar
                            </h4>
                        </div>
                        <div class="card-body">
                            {{>msg}}
                        </div>
                        <div class="card-body">
                            {{#each navitems}}
                            {{#dataValues}}
                            <form class="form" method="POST" action="/admin/edit-navitem">



                                <div class="row">
                                    <label class="col-md-3 col-form-label">NavItem1</label>
                                    <div class="col-md-9">
                                        <div class="form-group has-default">
                                            <input type="text" class="form-control" name="navitem1"
                                                value="{{navitem1}}">
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <label class="col-md-3 col-form-label">NavItem2</label>
                                    <div class="col-md-9">
                                        <div class="form-group has-default">
                                            <input type="text" class="form-control" name="navitem2"
                                                value="{{navitem2}}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-3 col-form-label">NavItem3</label>
                                    <div class="col-md-9">
                                        <div class="form-group has-default">
                                            <input type="text" class="form-control" name="navitem3"
                                                value="{{navitem3}}">
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <label class="col-md-3 col-form-label">NavItem4</label>
                                    <div class="col-md-9">
                                        <div class="form-group has-default">
                                            <input type="text" class="form-control" name="navitem4"
                                                value="{{navitem4}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-3 col-form-label">NavItem5</label>
                                    <div class="col-md-9">
                                        <div class="form-group has-default">
                                            <input type="text" class="form-control" name="navitem5"
                                                value="{{navitem5}}">
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <label class="col-md-3 col-form-label">NavItem6</label>
                                    <div class="col-md-9">
                                        <div class="form-group has-default">
                                            <input type="text" class="form-control" name="navitem6"
                                                value="{{navitem6}}">
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <label class="col-md-3 col-form-label">SubNavItem1_6</label>
                                    <div class="col-md-9">
                                        <div class="form-group has-default">
                                            <input type="text" class="form-control" name="snavitem1_6"
                                                value="{{snavitem1_6}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-3 col-form-label">SubNavItem2_6</label>
                                    <div class="col-md-9">
                                        <div class="form-group has-default">
                                            <input type="text" class="form-control" name="snavitem2_6"
                                                value="{{snavitem2_6}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-3 col-form-label">SubNavItem3_6</label>
                                    <div class="col-md-9">
                                        <div class="form-group has-default">
                                            <input type="text" class="form-control" name="snavitem3_6"
                                                value="{{snavitem3_6}}">
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="card-footer justify-content-center">
                                    <div class="row">

                                        <div class="col-md-9">
                                            <button type="submit" class="btn btn-fill btn-rose">Lets Go</button>
                                        </div>


                                    </div>
                                </div>

                            </form>
                            {{/dataValues}}
                            {{/each}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>