

<div class="sub-page">
	<!-- Head Area -->
	<div class="page-header" data-midnight="white">
		<div class="img"></div>
		<div class="head-content container-fluid">

			<div class="container">
				<h1 class="page-title">{{title}}</h1>
				<!-- Breadcrumb -->
				<div class="breadcrumb">
					<a href="/">Home</a> /
					<a class="current">Page</a>
				</div>
				<!--/ Breadcrumb -->
			</div>
		</div>
	</div>
	<!--/ Head Area -->
	<!-- Content area -->
	<div class="inner-page-sidebar section-bg-inner">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">


					<!-- About US -->

					<div class="about-us1">
						<div class="section-padding">
							<h3 class="text-center page-desc-title">Our Solutions</h3>
							<div class="row">
								{{#each s_details}}
								<div class="col-lg-6 col-md-12">

									<div class="card">


										<div class="card border-dash animated" data-animation="fadeInUpShorter"
											data-animation-delay="0.5s">
											<div class="card-body">
												<h4 class="card-title text-info">{{this.dataValues.stype}}</h4>
												<p class="card-text" align="justify">{{this.dataValues.overview}}</p>


											</div>
											<img class="card-img-bottom" src="/uploads/{{this.dataValues.picture}}"
												rel="nofollow" alt="Card image cap">

										</div>

										<div class="card-footer">

											<a href="/solutions/category/{{this.dataValues.stype}}"
												class="btn btn-sm btn-gradient-orange read-more" target="_blank">Read
												More</a>
										</div>

									</div>
									<br>



								</div>
								{{/each}}
								<!--/ About US -->

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
